# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Model outputs
results/
logs/
distilbert-reviews-genres/
*.pickle
eval_report.json

# W&B
wandb/

# OS
.DS_Store
Thumbs.db
